<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

<nav class="navbar navbar-light bg-light">
    <span class="navbar-brand mb-0 h1">Note Taking App</span>

    <div>{{time}}</div>
  </nav>
  
<form class="input-group mb-3 m-4 pr-5" action="/add" method="post">
    <div class="input-group-prepend">
      <button class="btn btn-outline-secondary" type="submit">Add</button>
    </div>
    <input type="text" name = "Note" placeholder="Add a Note" class="form-control">

    <input type="radio" id="High" name="Priority" value="High">
    <label for="High">High</label><br>
    <input type="radio" id="Medium" name="Priority" value="Medium">
    <label for="Medium">Medium</label><br>
    <input type="radio" id="Low" name="Priority" value="Low">
    <label for="Low">Low</label>
</form>

<div class="list-group">
  <div class="text-center list-group-item bg-secondary border-secondary active ml-4 mr-4">
    Active Notes
  </div>
    {% for note in notes %}
      <form class = "row ml-4 mr-4 list-group-item" action = "/delete/{{loop.index0}}/" method = "post">
        <div>{{note.get_data()}}</div>
        <div>{{note.get_priority()}}</div>
        <div>{{note.get_tag()}}</div>
        <div>{{note.get_time()}}</div>
        <button type="button" class = "m-1 col-md-1 btn btn-outline-secondary float-right">Done</button>
        <button type="submit" class = "m-1 col-md-1 btn btn-outline-secondary float-right" >Delete</button>
      </form>
    {% endfor %}
</div>

